[project]
	description = Comparative study of two complex algorithms' efficiency on varying sizes of data and number of iterations.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ansh Mehta (ansh1302)
[access "refs/for/refs/*"]
	read = group user/Ansh Mehta (ansh1302)
	push = group user/Ansh Mehta (ansh1302)
	label-Code-Review = -2..+2 group user/Ansh Mehta (ansh1302)
	label-Verified = -1..+1 group user/Ansh Mehta (ansh1302)
	rebase = group user/Ansh Mehta (ansh1302)
	removeReviewer = group user/Ansh Mehta (ansh1302)
	submit = group user/Ansh Mehta (ansh1302)
[access "refs/heads/*"]
	read = group user/Ansh Mehta (ansh1302)
	create = group user/Ansh Mehta (ansh1302)
	push = +force group user/Ansh Mehta (ansh1302)
	pushMerge = group user/Ansh Mehta (ansh1302)
[access "refs/tags/*"]
	push = group user/Ansh Mehta (ansh1302)
	push = +force group user/Ansh Mehta (ansh1302)
